/* UPDATE CUSTOMER CSS */

.error {
    color: red;
}

.success {
    color: green;
}

h6 {
   width: 90%; 
   text-align: left; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin: 10px 0 10px; 
}

/***************************************************************************/

body { 
	background-image: url("geo");
        background-repeat: no-repeat;
}
h6 {
   width: 90%; 
   text-align: left; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin: 10px 0 10px; 
} 
div.b {
        font-size: 9px;
        color: #E83F7C;
        text-indent: 100px;
}

div.wrapper {
    text-align: center;
}
h6 span {
        background:#fff;
        padding: 0 40px;
        length:10px;
}
p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 60;
    margin-right: 100;
}
table {
    border-collapse: collapse;
border: 1px solid black;
    width: 50%;
        table-layout: fixed;
}
th,td {
text-align: center;
align: center;
    padding: 8px;
}

th {
border: 1px solid black;
font-size: 16px;
font-weight: normal;
}

.table1 {
border-collapse: collapse;
border: 1px solid black;
    width: 50%;
        table-layout: fixed;
}
.table1 th,td {
text-align: center;
align: center;
    padding: 8px;
}

.table1 th {
border: 1px solid black;
font-size: 16px;
font-weight: normal;
}

